beautifulsoup4==4.9.1
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
clarifai==2.6.2
configparser==5.0.0
cryptography==2.9.2
decorator==4.4.2
EasyProcess==0.3
emoji==0.5.4
future==0.18.2
googleapis-common-protos==1.52.0
grpcio==1.29.0
idna==2.9
instapy==0.6.8
jsonschema==2.6.0
MeaningCloud-python==1.2.2
plyer==1.4.3
protobuf==3.12.2
pycparser==2.20
python-telegram-bot==12.7
PyYAML==5.3.1
regex==2020.6.8
requests==2.23.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
tornado==6.0.4
tqdm==4.46.1
urllib3==1.25.9
webdriverdownloader==1.1.0.3
